version: '3.8'

services:
  haproxy:
    build:
      context: ./haproxy
      dockerfile: Dockerfile
    container_name: haproxy
    restart: always
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "80:80"
      - "443:443"

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile
    container_name: caddy
    restart: always
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/Caddyfiles:/etc/caddy/Caddyfiles

  error-pages:
    image: tarampampam/error-pages:2.21.0
    container_name: error-pages
    restart: always
    environment:
      - TEMPLATE_NAME=connection
